html, body, #container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  /* border: 4px solid red; */
}
body {
  /* height of .navbar, customize with @navbar-height variable */
  padding-top: 40px;
}
.navbar {
  min-height: 50px;
  background-color: rgb(33, 33, 241);
}


#header {
  background-color: rgb(6, 5, 112);
  color: white;
  height: 15%;
  width: 100%;
}


#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 90%;
  width: 60%;
  float: left;
  /* border: 4px solid rgb(166, 255, 0); */
}

#space {
  float: left;
  height: 90%;
  width: 2.5%; 
   /* border: 4px solid red; */
}
.select {
  overflow: hidden;
  height: 10%;
  width: 37.5%;
  /* border: 4px solid red; */
}

#graph{
  /* border: 4px solid green; */
  float: right;
  height: 40%;
  width: 37.5%;
  
}

#table{
  /* border: 4px solid rgb(128, 0, 85); */
  height: 40%;
  width: 37.5%;
  float: right;
}





